@page "/Employees"
@inject IEmployeeData employeeData
@inject NavigationManager navigation
@inject ProtectedSessionStorage sessionStorage
<h3>ViewEmployees</h3>
@if (employees == null)
{
    <p>
        <em>Loading The Data...</em>
    </p>
}
else
{
    <div style="display:flex;align-items:center;">
        <input type="text" placeholder="Search" @oninput="((txt) => SearchBoxTextModified((string)txt.Value))" style="margin-right:5px"/>  <span style="color:limegreen; font-size:50px;cursor:pointer" @onclick="GoToCreate">&#43;</span>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Department</th>
                <th>Salary</th>
                <th></th>
            </tr>
        </thead>

            <tbody>
                @foreach (var employee in employees)
                {
                    <tr>

                        <td>
                            @employee.FirstName @employee.LastName
                        </td>
                        <td>
                            @employee.Department
                        </td>
                        <td>
                            @employee.Salary
                        </td>
                        <td style="display:flex;align-items:center;">
                            <button style="margin-right:5px;"@onclick="()=>GoToEdit(employee.EmployeeId)">Edit</button><span style="color:red; font-size:23px; cursor:pointer; padding:0px;" @onclick="()=>DeleteEmployee(employee.EmployeeId)">❌</span>
                        </td>

                    </tr>
                }
            </tbody>

    </table>
}
@code {
    private List<EmployeeModel> employees;
    private string searchedText = "";
    protected override async Task OnInitializedAsync()
    {
        employees = await employeeData.Employees();
    }


    private async Task SearchBoxTextModified(string searchBoxInput)
    {
        searchedText = searchBoxInput;
        await FilterEmployees();
    }
    private async Task FilterEmployees()
    {
        var result = await employeeData.Employees();
        if (string.IsNullOrWhiteSpace(searchedText) == false)
        {
            result = result.Where(r => r.FirstName.Contains(searchedText, StringComparison.InvariantCultureIgnoreCase) ||
                                        r.LastName.Contains(searchedText, StringComparison.InvariantCultureIgnoreCase)).ToList();

        }
        employees = result;
    }
    private void GoToCreate()
    {
        navigation.NavigateTo("/AddEmployee");
    }
    private async Task DeleteEmployee(int employeeId)
    {
        await employeeData.RemoveEmployee(employeeId);
        employees = await employeeData.Employees();
    }
    private void GoToEdit(int employeeId)
    {
        navigation.NavigateTo($"/EditEmployeeDetails/{employeeId}");
    }
}
